.HTMLCSS {
    height: 100%;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Teko', sans-serif;
}

.navbar {
    background-color: rgb(65, 65, 65);
}

.nav-link {
    font-size: 20px;
    color: rgb(172, 172, 172);
}

a:hover {
    color: rgb(0, 225, 255);
}

.active {
    color: rgb(0, 225, 255);
}

.logoText {
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
}

.coverContainer {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.titlePanel {
    background-color: rgb(65, 65, 65);
    font-size: 20px;
    color: rgb(172, 172, 172);
}

form {
    margin-bottom: 0px;
}

.footerStyle {
    font-size: 20px;
    position: relative;
    bottom: 0px;
    background-color: rgb(65, 65, 65);
    color: rgb(172, 172, 172);
}

@media screen and (max-width: 600px) {
    .coverImage {
        height: 400px;
    }

    p {
        font-size: 30px;
    }
    .listText {
        font-size: 30px;
    }
}
