body {
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Teko', sans-serif;
}

.navbar {
    background-color: rgb(65, 65, 65);
}

.nav-link {
    font-size: 20px;
    color: rgb(172, 172, 172);
}

a:hover {
    color: rgb(0, 225, 255);
}

.active {
    color: rgb(0, 225, 255);
}

.logoText {
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
}

.titlePanel {
    background-color: rgb(65, 65, 65);
    font-size: 20px;
    color: rgb(172, 172, 172);
}

.clearfix {
    overflow: auto;
}

form {
    margin-bottom: 500px;
}

.footerStyle {
    clear: both;
    font-size: 20px;
    position: relative;
    bottom: 0px;
    background-color: rgb(65, 65, 65);
    color: rgb(172, 172, 172);
}

@media screen and (max-width: 600px) {
    .coverImage {
        height: 400px;
    }
}
